::-webkit-scrollbar {
    width: 0;
  }

body {
    margin: 0;
    background-color: black;
    color: white;
}

html {
    scroll-behavior: smooth;
}
/* -----[ MENU ]------ */

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    font-family: 'Oswald', sans-serif;
}

.barra {
    margin: 0px 30px;
}

.nome {
    font-weight: 500;
    font-size: 28px;
    animation-name: teste;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    text-decoration: none;
}